<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <title>Kromaticoo</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section id="header">
            <a href="#"><img src="img/logo.png" class="logo" alt="" height="42" width="42"></a>

            <div>
                <ul id="navbar">
                    <li><a class="active" href="home.html">HOME</a></li>
                    <li><a href="new.html">NUEVO</a></li>
                    <li><a href="underwear.html">INTERIOR</a></li>
                    <li><a href="sport.html">DEPORTIVO</a></li>
                    <li><a href="https://w.app/H8pYPe"><i class="far fa-shopping-bag"></i></a></li>
                </ul>
            </div>
        </section>

        <section id="hero">
            <h4>Descuble la elegancia en cada prenda</h4>
            <h2>Explora nuestra colección</h2>
            <h1>Estilos que se ajustan a ti</h1>
            <p>Encuentra la perfecta combinación de moda y funcionalidad</p>
            <button style="vertical-align:middle"><span>!Compra Ahora¡</span></button>
            
        </section>

        <script src="script.js"></script>
    </body>
</html>