<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <title>Kromaticoo</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section id="header">
            <a href="#"><img src="img/logo.png" class="logo" alt="" height="42" width="42"></a>

            <div>
                <ul id="navbar">
                    <li><a href="home.html">HOME</a></li>
                    <li><a href="new.html">NUEVO</a></li>
                    <li><a href="underwear.html">INTERIOR</a></li>
                    <li><a href="sport.html">DEPORTIVO</a></li>
                    <li><a href="https://w.app/H8pYPe"><i class="fa-solid fa-headset"></i></a></li>
                </ul>
            </div>
        </section>

        <script src="script.js"></script>
    </body>
</html>