{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href={% static '/logo.png' %} type="image/x-icon">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <title>Kromaticoo</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

            #hero-1 {
                background-image: url("{% static '/banner1.png' %}");
                height: 50vh;
                width: 100%;
                background-size: cover;
                display: flex;
                justify-content: center;
                padding: 14px;
            }

        </style>
        <link rel="stylesheet" type="text/css" href="{% static '/codes/style.css' %}">
    </head>
    <body>

        <section id="header">
            <a href="#"><img src="{% static '/logo.png' %}" class="logo" alt="" height="42" width="42"></a>

            <div>
                <ul id="navbar">
                    <li><a href={% url 'home' %}>HOME</a></li>
                    <li><a href={% url 'new' %}>NUEVO</a></li>
                    <li><a href={% url 'underwear' %}>INTERIOR</a></li>
                    <li><a href={% url 'sport' %}>DEPORTIVO</a></li>
                    <li id="lg-bag"><a href="https://api.whatsapp.com/send?phone=+573006029411&text=%C2%A1Hola!%20Estoy%20interesad@%20en%20ver%20su%20catalogo.%20"><i class="far fa-shopping-bag"></i></a></li>
                    <a href="#" id="close"><i class="far fa-times"></i></a>
                </ul>
            </div>
            <div id="mobile">
                <a href="https://api.whatsapp.com/send?phone=+573006029411&text=%C2%A1Hola!%20Estoy%20interesad@%20en%20ver%20su%20catalogo.%20"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>

        <section id="prodetails" class="section-p1">
            <div class="single-pro-image">
                <img src={{ product.img1.url }} width="100%" id="MainImg" alt="">
                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src={{ product.img1.url }} width="100%" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src={{ product.img2.url }} width="100%" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src={{ product.img3.url }} width="100%" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src={{ product.img4.url }} width="100%" class="small-img" alt="">
                    </div>
                </div>
            </div>
            <div class="single-pro-details">
                <h6>Producto/{{product.ref}}</h6>
                <h4>{{ product.title }}</h4>
                <h2>${{ product.price }}</h2>
                <a href="http://wa.link/py0o2q" class="boton">¡Comprar Ahora!</a>
                <h4>Detalles del producto</h4>
                <span>{{ product.desc }}</span>
            </div>
        </section>

        <section id="populars_products" class="section-p1">
            <h2>Productos Nuevos</h2>
            <p>Explora las novedades: estilo fresco, tendencia inigualable. Descubre lo último en moda que te cautivará.</p>
            <div class="pro-container">
                {% for product1 in products|slice:":4" %}
                {% if product.is_new == True and product.discontinued == False %}
                <div class="pro">
                    <img src={{ product1.img1.url }} alt="" height="250" width="250">
                    <div class="des">
                        <span>{{ product1.ref }}</span>
                        <h5>{{ product1.title }}</h5>
                        <h4>${{ product1.price }}</h4>
                    </div>
                    <a href={% url 'product' product1.ref %}><i class="fal fa-shopping-cart cart"></i></a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <img src="{% static '/logo.png' %}" alt="" height="42" width="42" class="logo">
                <h4>Contact</h4>
                <p><strong>Dirección: </strong>La Candelaria, Medellín, Antioquia</p>
                <p><strong>Numero: </strong>300 602 9411</p>
                <p><strong>Horas: </strong>09:00 - 06:00, Lunes - Sabado </p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>Nosotros</h4>
                <a href="#">Nosotros</a>
                <a href="#">Domicilios</a>
                <a href="#">Politicas de privacidad</a>
                <a href="#">Terminos y condiciones</a>
                <a href="#">Contactanos</a>
            </div>

            <div class="col">
                <h4>Secured Payment Gateways</h4>
                <img src="{% static '/pay.png' %}" alt="">
            </div>

        </footer>

        <script>
            var MainImg = document.getElementById("MainImg");
            var smallimg = document.getElementsByClassName("small-img");

            smallimg[0].onclick = function(){
                MainImg.src = smallimg[0].src;
            }

            smallimg[1].onclick = function(){
                MainImg.src = smallimg[1].src;
            }

            smallimg[2].onclick = function(){
                MainImg.src = smallimg[2].src;
            }

            smallimg[3].onclick = function(){
                MainImg.src = smallimg[3].src;
            }
        </script>

        <script src="{% static '/script.js' %}"></script>
    </body>
</html>